{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
<html>
<BODY style="background-color:#E6FF33;">


{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=response.title}}
          <small>{{=response.subtitle or 'toy catalogo'}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("")}}
    </a></h3></div>
  <div class="panel-body">
    <B>{{=T("Deseas ingresar al sistema?")}}</B>
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=T('Si ya sos usuario: ')}}{{=A(T("Ingresar"), _href=URL('default','user/login'))}}</li>
    <li class="list-group-item">{{=T('Si aún no sos usuario: ')}}{{=A(T("Registrarse"), _href=URL('default','user/register'))}}</li>
  </ul>
</div>
{{end}}


{{if not auth.user:}}
{{right_sidebar_enabled=True}}
<hr/>
<h2>{{=message}}</h2>




{{pass}}

<!--{{if auth.user:}}
{{right_sidebar_enabled=False}}

<H4>
{{=T('Hola, ')}} {{=auth.user.first_name}}<BR><BR>
{{=T('Ya estás dentro del Sistema de Datos Preocupacionales.')}}
    <BR>
        
{{=T('Ingresá según el rol que te corresponda:')}}
<BR><P>
<CENTER>
<a href="{{=URL(r=request,c='default',f='principal_e')}}"><IMG SRC="{{=URL('static','/images/botones/empleados.png')}}" />empleados</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{=URL(r=request,c='default',f='principal_s')}}"><IMG SRC="{{=URL('static','/images/botones/supervisores.png')}}" />supervisor</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{=URL(r=request,c='default',f='principal_a')}}"><IMG SRC="{{=URL('static','/images/botones/administradores.png')}}" />administrador</a>
    </CENTER>
</H4>
    
    {{pass}}-->
