{{extend 'layout.html'}}

<div class="row">
{{for reg in registros: }}
<form class="form-horizontal" action="{{=URL(c="ventas",f="carrito")}}" enctype="multipart/form-data" method="POST">
  <div class="col-xs-3 col-sm-3">
    <div class="thumbnail">
      <img class="responsive-img img-thumbnail" src="{{=URL(f='mostrar', args=[reg.id_producto])}}" style="max-height: 200px; max-width: 150px;" alt="...">
      <div class="caption">
        <h6>{{=reg.nombre}}</h6>
        <p>{{=reg.precio}}</p>
            <input type="hidden" name="producto" value="{{=reg.id_producto}}" />
            <input type="number" name="cantidad" value="1" />
            <input type="submit" role="button" class="btn btn-danger btn-lg" name="comprar" value="Comprar" />
        </p>
      </div>
    </div>
  </div>
    </form>
{{pass}}
</div>
